<h1>It's <%= @time.strftime('%A, %B %d, %Y %I:%M:%S %Z') %></h1>
<p class="note">Break down the <%= link_to "date", date_index_path %> | Break down the <%= link_to "time", time_index_path %></p>


<p class="note"><em>Things that remain: Time zones... yikes! &middot; Date.new and strptime &middot; Other built-in methods for date and time manipulation<br>
The surface has only been scratched.</em></p>
